---
import Default from "../layouts/Default.astro";
---
<Default title="default title" description="default description" bodyClasses="default">
	<div class="bg-centauri">
		<div class="p-6">
			<h1 class="text-center text-4xl uppercase font-bold">Documentation</h1>
		</div>
	</div>
</Default>

<style>
  body {
    @apply bg-astro text-gray-300;
  }
</style>