---
import Default from "../layouts/Default.astro";
import Signin from "../components/supabase/signin.svelte";
---
<Default title="sign in" description="join our community">
	<div class="bg-centauri min-height-460">
		<div class="p-6">
			<h1 class="text-center text-4xl uppercase font-bold bg-purple-700 py-6 shadow-2xl">Sign in</h1>
            <Signin client:only></Signin>
		</div>
	</div>
</Default>

<style>
  body {
    @apply bg-astro text-gray-300;
  }
</style>