---
import Default from "../../layouts/Default.astro";
import Headline from "../../components/headline/headline.astro";
---
<Default title="welcome" description="welcome to centauri content management">
	<div class="bg-centauri">
		<div class="p-6">
            <Headline>TEST CREATE POST</Headline>
		</div>
	</div>
</Default>
