:where(:not(iframe, canvas, img, svg, video):not(svg*, symbol*)) {
  all: unset;
  display: revert;
}
*,
::after,
::before {
  box-sizing: border-box;
}
menu,
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
table {
  border-collapse: collapse;
}
textarea {
  white-space: revert;
}
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}
input:autofill {
  background: #fff;
}
